@import '../../css/variables.styl'
@import '../../css/fonts.styl'
@import '../../css/mixins.styl'

.container
  display inline-flex
  padding 4px 12px
  background-color accent-light
  color accent1
  border-radius 100px
  white-space nowrap
  Body()
  &.warning
    background-color warning-light
    color warning1
  &.active
    background-color accent2
    color White
  &.button
    opacityButton()