.container {
  display: inline-flex;
  padding: 4px 12px;
  background-color: #edf4fd;
  color: #1c6de7;
  border-radius: 100px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
}
.container.warning {
  background-color: #ffefd1;
  color: #ca9a3c;
}
.container.active {
  background-color: #4e8dec;
  color: #fff;
}
.container.button {
  cursor: pointer;
  user-select: none;
  transition: opacity 0.2s;
  -webkit-tap-highlight-color: transparent;
}
@media (hover: hover) {
  .container.button:hover {
    transition: opacity 0s;
  }
}
.container.button:active {
  transition: opacity 0s;
  opacity: 0.6;
}
