.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: relative;
  border-radius: 8px;
  background-color: transparent;
  overflow: hidden;
  transition: color 0.3s, outline 0.3s;
}
.container:not(.disabled) {
  transition: color 0.3s, outline 0.3s;
  color: #000;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.2s;
  -webkit-tap-highlight-color: transparent;
}
@media (hover: hover) {
  .container:not(.disabled):hover {
    transition: opacity 0s;
  }
}
.container:not(.disabled):active {
  transition: opacity 0s;
  opacity: 0.6;
}
.container[data-size='large'] {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.04em;
  padding: 16px 32px;
}
.container[data-size='medium'] {
  font-size: 16px;
  font-weight: 600;
  padding: 16px 20px;
}
.container[data-type='primary'] {
  color: #fff;
}
.container[data-type='primary']::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #1c6de7;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: -1;
}
.container[data-type='primary']::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: translateX(0%);
  transition: transform 0.5s;
  z-index: -1;
}
.container[data-type='primary'].disabled {
  user-select: none;
  background-color: #f3f3f3;
  color: #bbb;
}
@media (hover: hover) {
  .container[data-type='primary']:not(.disabled):hover::before {
    transform: translateX(0%);
  }
  .container[data-type='primary']:not(.disabled):hover::after {
    transform: translateX(100%);
  }
}
.container[data-type='secondary'] {
  outline: 2px solid #000;
  outline-offset: -2px;
}
.container[data-type='secondary'].disabled {
  user-select: none;
  background-color: #bbb;
  color: #bbb;
}
.container[data-type='secondary']::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: -1;
}
@media (hover: hover) {
  .container[data-type='secondary']:not(.disabled):hover {
    color: #fff;
  }
  .container[data-type='secondary']:not(.disabled):hover::before {
    transform: translateX(0%);
  }
}
.container[data-type='tertiary'] {
  outline: 2px solid rgba(0,0,0,0);
  transition: outline-color 0.3s;
}
.container[data-type='tertiary'].disabled {
  user-select: none;
  color: #bbb;
}
@media (hover: hover) {
  .container[data-type='tertiary']:not(.disabled):hover {
    transition: outline-color 0s;
    outline: 2px solid #000;
  }
}
