@import '../../css/variables.styl'
@import '../../css/fonts.styl'
@import '../../css/mixins.styl'

innerBg(bgc, initialTranslate = -100%)
  content ''
  position absolute
  inset 0
  background-color bgc
  transform translateX(initialTranslate)
  transition transform 0.5s
  z-index -1

.container
  flexbox(row, center, center, 4px)
  position relative
  border-radius 8px
  background-color transparent
  overflow hidden
  transition color 0.3s, outline 0.3s
  &:not(.disabled)
    transition color 0.3s, outline 0.3s
    color contentPrimary
    opacityButton()
  &[data-size='large']
    H2(600)
    padding 16px 32px
  &[data-size='medium']
    Body(600)
    padding 16px 20px
  &[data-type='primary']
    color contentInversePrimary
    &::before
      innerBg(accent1)
    &::after
      innerBg(backgroundInversePrimary, 0%)
    &.disabled
      user-select none
      background-color backgroundStateDisabled
      color contentDisable
    @media (hover hover)
      &:not(.disabled):hover
        &::before
          transform translateX(0%)
        &::after
          transform translateX(100%)
  &[data-type='secondary']
    outline 2px solid Black
    outline-offset -2px
    &.disabled
      user-select none
      background-color contentDisable
      color contentDisable
    &::before
      innerBg(backgroundInversePrimary)
    @media (hover hover)
      &:not(.disabled):hover
        color contentInversePrimary
        &::before
          transform translateX(0%)
  &[data-type='tertiary']
    outline 2px solid #00000000
    transition outline-color 0.3s
    &.disabled
      user-select none
      color contentDisable
    @media (hover hover)
      &:not(.disabled):hover
        transition outline-color 0s
        outline 2px solid Black
