.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  position: relative;
  border-radius: 8px;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
  background-color: transparent;
}
.container:not(.disabled) {
  cursor: pointer;
  user-select: none;
  transition: opacity 0.2s;
  -webkit-tap-highlight-color: transparent;
}
@media (hover: hover) {
  .container:not(.disabled):hover {
    transition: opacity 0s;
  }
}
.container:not(.disabled):active {
  transition: opacity 0s;
  opacity: 0.6;
}
.container[data-size='large'] {
  font-size: 24px;
  font-weight: 600;
  padding: 16px 32px;
}
.container[data-size='medium'] {
  font-size: 16px;
  font-weight: 600;
  padding: 16px 20px;
}
.container[data-type='primary'] {
  background-color: #000;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
.container[data-type='primary'].disabled {
  user-select: none;
  background-color: #f3f3f3;
  color: #bbb;
}
@media (hover: hover) {
  .container[data-type='primary']:not(.disabled):hover {
    transition: background-color 0s, color 0s;
    background-color: #1c6de7;
  }
}
.container[data-type='secondary']::before {
  content: '';
  position: absolute;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  transition: border-color 0.2s;
  z-index: 1;
  inset: 0;
}
.container[data-type='secondary'].disabled {
  user-select: none;
  background-color: #bbb;
  color: #bbb;
}
@media (hover: hover) {
  .container[data-type='secondary']:not(.disabled):hover {
    background-color: #000;
    color: #fff;
  }
}
.container[data-type='tertiary']::before {
  content: '';
  position: absolute;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  transition: border-color 0.2s;
  z-index: 1;
  inset: 0;
  border-color: rgba(0,0,0,0);
}
.container[data-type='tertiary'].disabled {
  user-select: none;
  color: #bbb;
}
@media (hover: hover) {
  .container[data-type='tertiary']:not(.disabled):hover::before {
    transition: border-color 0s;
    border-color: #000;
  }
}
