@import '../css/variables.styl'
@import '../css/fonts.styl'
@import '../css/mixins.styl'

.main
  width 100%
  padding-inline 16px
  flex 1
  padding-top 114px

.container
  width 100%
  max-width 1140px
  margin-inline auto