@import '../../css/variables.styl'
@import '../../css/fonts.styl'
@import '../../css/mixins.styl'

.header
  width 100%
  background-color #FFFFFF33
  backdrop-filter blur(40px)
  padding-inline 16px

.container
  width 100%
  max-width 1140px
  margin-inline auto
  padding-block 29px
  flexbox(row, space-between, center)

.linkList
  flexbox(row, flex-start, center, 8px)
  @media ({mobile} )
    display none
    gap 4px
  @media (max-width 480px)
    display none

.burger
  width 40px
  height 40px
  centerChild()
  position relative
  display none
  @media ({mobile} )
    display inline-flex
  .line
    position absolute
    border-radius 100px
    width 28px
    height 4px
    background-color backgroundInversePrimary
    transition transform 0.5s
    transform-origin middle center
    &:first-child
      transform translateY(-8px)
    &:last-child
      transform translateY(8px)