@import '../../css/variables.styl'
@import '../../css/fonts.styl'
@import '../../css/mixins.styl'

.header
  width 100%
  background-color #FFFFFF33
  backdrop-filter blur(40px)
  padding-inline 16px
  position fixed
  top 0px
  left 0
  right 0
  z-index 100

.container
  width 100%
  max-width 1140px
  margin-inline auto
  padding-block 8px
  flexbox(row, space-between, center)

.linkList
  flexbox(row, flex-start, center, 8px)
  @media ({mobile} )
    display none
    gap 4px
  @media (max-width 480px)
    display none

.burger
  width 40px
  height 40px
  centerChild()
  position relative
  display none
  opacityButton()
  @media ({mobile} )
    display inline-flex
  .line
    position absolute
    border-radius 100px
    width 28px
    height 4px
    background-color backgroundInversePrimary
    transition transform 0.5s
    transform-origin middle center
    &:first-child
      transform translateY(-8px)
    &:last-child
      transform translateY(8px)

.navModal
  display none
  background-color #000000cc
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  backdrop-filter blur(20px)
  &.show
    display block
  header
    padding-inline 16px
    flexbox(row, flex-end, center)
    color contentInversePrimary
    height 106px

.navModalContent
  padding-top 48px
  flexbox(column, flex-start, stretch, 36px)

.closeButton
  opacityButton()

.navLinkMobile
  padding-block 16px
  color contentInversePrimary
  H2()
  opacityButton()
  centerChild()