.header {
  width: 100%;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(40px);
  padding-inline: 16px;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin-inline: auto;
  padding-block: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.linkList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
@media (max-width:1200px) {
  .linkList {
    display: none;
    gap: 4px;
  }
}
@media (max-width: 480px) {
  .linkList {
    display: none;
  }
}
.burger {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.2s;
  -webkit-tap-highlight-color: transparent;
}
@media (hover: hover) {
  .burger:hover {
    transition: opacity 0s;
  }
}
.burger:active {
  transition: opacity 0s;
  opacity: 0.6;
}
@media (max-width:1200px) {
  .burger {
    display: inline-flex;
  }
}
.burger .line {
  position: absolute;
  border-radius: 100px;
  width: 28px;
  height: 4px;
  background-color: #000;
  transition: transform 0.5s;
  transform-origin: middle center;
}
.burger .line:first-child {
  transform: translateY(-8px);
}
.burger .line:last-child {
  transform: translateY(8px);
}
.navModal {
  display: none;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(20px);
}
.navModal.show {
  display: block;
}
.navModal header {
  padding-inline: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  color: #fff;
  height: 106px;
}
.navModalContent {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 36px;
}
.closeButton {
  cursor: pointer;
  user-select: none;
  transition: opacity 0.2s;
  -webkit-tap-highlight-color: transparent;
}
@media (hover: hover) {
  .closeButton:hover {
    transition: opacity 0s;
  }
}
.closeButton:active {
  transition: opacity 0s;
  opacity: 0.6;
}
.navLinkMobile {
  padding-block: 16px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.04em;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.2s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (hover: hover) {
  .navLinkMobile:hover {
    transition: opacity 0s;
  }
}
.navLinkMobile:active {
  transition: opacity 0s;
  opacity: 0.6;
}
