@import '../../css/variables.styl'
@import '../../css/fonts.styl'
@import '../../css/mixins.styl'

.header
  width 100%
  background-color #FFFFFF33
  backdrop-filter blur(40px)
  padding-inline 16px

.container
  width 100%
  max-width 1140px
  margin-inline auto
  padding-block 29px
  flexbox(row, space-between, center)

.linkList
  flexbox(row, flex-start, center, 8px)
  @media ({mobile} )
    gap 4px