.header {
  width: 100%;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(40px);
  padding-inline: 16px;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin-inline: auto;
  padding-block: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.linkList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
@media (max-width:576px) {
  .linkList {
    gap: 4px;
  }
}
