Font(fz = unset, w = unset)
  font-size fz
  font-weight w

Display1(fw = 400)
  Font(40px, fw)

H1(fw = 400)
  Font(36px, fw)

H2(fw = 400)
  Font(24px, fw)

H3(fw = 400)
  Font(18px, fw)

Body(fw = 400)
  Font(16px, fw)

BodyS(fw = 400)
  Font(14px, fw)

Caption(fw = 400)
  Font(12px, fw)
