@import 'variables.styl'
@import 'fonts.styl'
@import 'mixins.styl'

html, body
  flexbox(column, flex-start, center)
  width 100%
  min-height 100dvh
  letter-spacing 4%
  line-height 1.5

a
  color inherit
  text-decoration none

*
  box-sizing border-box