// * Breakpoints
BreakpointL = 1200px
BreakpointS = 576px
desktop = 'min-width:' + BreakpointL
mobile = 'max-width:' + BreakpointS
// //

// //
// * Brand
Black = #000000
grey1 = #4B4B4B
grey2 = #5E5E5E
grey3 = #727272
grey4 = #A6A6A6
light-grey1 = #BBBBBB
light-grey2 = #DDDDDD
light-grey3 = #E8E8E8
light-grey4 = #F3F3F3
White = #ffffff
// //
// Accent
accent1 = #1C6DE7
accent2 = #4E8DEC
accent-light = #EDF4FD
// //
// Danger
danger1 = #D33638
danger2 = #F55759
danger-light = #FCDDDE
// //
// Warning
warning1 = #CA9A3C
warning2 = #E6BC6B
warning-light = #FFEFD1
// //
// Success
success1 = #0CA750
success2 = #75DD66
success-light = #DDFAD9
// //

// //
// * Core
primaryA = Black
primaryB = White
accent = accent1
danger = danger2
warning = warning2
success = success2
// //

// //
// * Semantic
// //
// Background
backgroundPrimary = White
backgroundSecondary = light-grey4
backgroundTertiary = light-grey3
backgroundStateDisabled = light-grey4
backgroundInversePrimary = primaryA
backgroundInverseSecondary = grey1
backgroundInverseTertiary = grey2
backgroundInverseStateDisabled = grey1
// //
// Content
contentPrimary = Black
contentSecondary = grey2
contentTertiary = grey4
contentDisable = light-grey1
contentInversePrimary = White
contentInverseSecondary = light-grey3
contentInverseTertiary = light-grey2
contentInverseDisable = grey4
// //
// Border
border = light-grey2
borderSelected = PrimaryA
borderInverse = grey2
borderInverseSelected = PrimaryB