.footer {
  width: 100%;
  background-color: #4b4b4b;
  color: #fff;
  padding-inline: 16px;
  min-height: 254px;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin-inline: auto;
  padding-block: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media (max-width:1200px) {
  .container {
    flex-direction: column;
    gap: 40px;
    padding-block: 24px 80px;
  }
}
.footerStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
}
@media (max-width:1200px) {
  .footerStart {
    flex-direction: column;
    gap: 16px;
  }
}
.footerEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
@media (max-width:1200px) {
  .footerEnd {
    flex-direction: column;
    gap: 16px;
  }
}
.arrowIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 20px;
  flex-shrink: 0;
}
.linkList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  color: #e8e8e8;
}
.iconLinkContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
