@import '../../css/variables.styl'
@import '../../css/fonts.styl'
@import '../../css/mixins.styl'

.container
  flexbox(row, flex-start, center, 4px)
  opacityButton()
  &[data-type='primary']
    H3(600)
  &[data-type='secondary']
    H3(400)
  @media (hover hover)
    &:hover
      underline()