.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.2s;
  -webkit-tap-highlight-color: transparent;
}
@media (hover: hover) {
  .container:hover {
    transition: opacity 0s;
  }
}
.container:active {
  transition: opacity 0s;
  opacity: 0.6;
}
.container[data-type='primary'] {
  font-size: 18px;
  font-weight: 600;
}
.container[data-type='secondary'] {
  font-size: 18px;
  font-weight: 400;
}
@media (hover: hover) {
  .container:hover {
    position: relative;
  }
  .container:hover::before {
    content: '';
    height: 1px;
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 1;
  }
}
